<div class="ui-grid">
    <div class="ui-grid-col-12 app-toolbar">
        <a (click)="onHome()" style="cursor:pointer;">
            <p class="app-title-brand app-title-brand-black">{{ titleBrandWeigth }}</p>
            <p class="app-title-brand app-title-brand-light">{{ titleBrandLight }}</p>
        </a>

        <p class="app-title-brand app-title-brand-light app-brand-participant text-float-right" style="font-family: Roboto-Light; text-transform: uppercase">{{ nameParticipant }}</p>

        <div class="app-border-brand-black"></div>
    </div>
</div>